.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

.unordered-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px 0px;
  padding: 0px 0px;
}

.list-item {
  list-style-type: none;
  padding: 10px;
  font-size: large;
}